/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

/* Center align the video */
/*Sometimes the flex items within a flex container do not fill all the space in the container. It is common to want to tell CSS how to align and space out the flex items a certain way. Fortunately, the justify-content property has several options to do this. But first, there is some important terminology to understand before reviewing those options.

Here is a useful image showing a row to illustrate the concepts below:

Here is a useful image showing a row to illustrate the concepts below.

Recall that setting a flex container as a row places the flex items side-by-side from left-to-right. A flex container set as a column places the flex items in a vertical stack from top-to-bottom. For each, the direction the flex items are arranged is called the main axis. For a row, this is a horizontal line that cuts through each item. And for a column, the main axis is a vertical line through the items.

There are several options for how to space the flex items along the line that is the main axis. One of the most commonly used is justify-content: center;, which aligns all the flex items to the center inside the flex container. Others options include:

flex-start: aligns items to the start of the flex container. For a row, this pushes the items to the left of the container. For a column, this pushes the items to the top of the container. This is the default alignment if no justify-content is specified.
flex-end: aligns items to the end of the flex container. For a row, this pushes the items to the right of the container. For a column, this pushes the items to the bottom of the container.
space-between: aligns items to the center of the main axis, with extra space placed between the items. The first and last items are pushed to the very edge of the flex container. For example, in a row the first item is against the left side of the container, the last item is against the right side of the container, then the remaining space is distributed evenly among the other items.
space-around: similar to space-between but the first and last items are not locked to the edges of the container, the space is distributed around all the items with a half space on either end of the flex container.
space-evenly: Distributes space evenly between the flex items with a full space at either end of the flex container
*/
/*BONUS FACT*/
/*Try the other options for the justify-content property in the code editor to see their differences. But note that a value of center is the only one that will pass this challenge.*/
/*Refer to the image atached with this commit*/
.video-container {
    display: flex;

    justify-content: center;
    /*flex-direction: column*/;        /*Try this after removing...*/
    align-items: center;/*..this* */          /*(first remove this and observe the results then try adding flex-direction)*/

    height: 100vh; /* Adjust this value as needed */
    background-color: #f0f0f0; /* Background color for illustration */
}

#display{
    background-color: rgb(0,120,200);
    display: inline;                           /*You can change the "display type" to make it appear block or inline. */
    color:rgb(45, 45, 45) ;
}

.white{
    font-style:spacemono;
    color: #f0f0f0;
}

.video-container {
    background-color: rgb(45, 45, 45);
}

.new-layout{
    display: flex;                /*Flexbox can allow you to change the layout of an element(i dont see any difference in inline and flex)*/
    flex-direction: column;                    /*You can also change the layout pattern to row or column*/
}   

.latest-layout{
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;          
    flex-direction: row;                    
}   
/*
    So far, all the properties in the challenges apply to the flex container (the parent of the flex items). However, there are several useful properties for the flex items.

    The first is the flex-shrink property. When it's used, it allows an item to shrink if the flex container is too small. Items shrink when the width of the parent container is smaller than the combined widths of all the flex items within it.

    The flex-shrink property takes numbers as values. 
    The higher the number, the more it will shrink compared to the other items in the container. 
    For example, if one item has a flex-shrink value of 1 and the other has a flex-shrink value of 3, 
    the one with the value of 3 will shrink three times as much as the other.
*/

.first{
    display: flex;
    flex-shrink: 0.5;                                /*flex-shrink when set to 1 is the very default value allowing it to shrink when the the browser is shrunk*/
    flex-direction: row;
}

.second{
    display: flex;
    flex-shrink: 1;                                 /*The element of this class will shrink twice the speed of the .first class*/
    flex-direction: row;
}

.later-layout{
    display: flex;
    flex-direction: row;
}

.late-layout{
    display: flex;
    flex-shrink: 0;                                 /*This element wont shrink at all!!*/
    flex-direction: row;
}

/*...Conversely there is another type of property called flex-grow (higher the number hegher the rate of growth)*/

.new-layout div {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-basis: 200px;                               /*flex-basis always acts in the direction of <flex=direction> whech decides where the new element is added*/
    margin: 20px;
    border: solid rgb(255, 179, 0);
    border-width:2px;
    border-left: 3px solid rgb(255, 179, 0);
    border-bottom: 3px solid rgb(255, 179, 0);
    
}

.latest-layout div {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-basis: 200px;                               /*flex-basis always acts in the direction of <flex=direction> whech decides where the new element is added*/
    margin: 20px;
    border: solid rgb(255, 179, 0);
    border-width:2px;
    border-left: 3px solid rgb(255, 179, 0);
    border-bottom: 3px solid rgb(255, 179, 0);
    
}


.wrap div{
    background-color: red;
    height: 100px;
    width: 100px;
    flex-basis: 200px;
    margin: 20px;
    border: solid rgb(255, 179, 0);
    border-width:2px;
    border-left: 3px solid rgb(255, 179, 0);
    border-bottom: 3px solid rgb(255, 179, 0);
    
}

.i{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;                                    /*flex-wrap wraps a layout when the window is shrunk and layout overflows,(the layout will be moved to the next row)*/
    flex-direction: row;
}

.ii{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;
    flex-direction: row;

}

.iii{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;
    flex-direction: row;
}

.iv{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;
    flex-direction: row;
}

.comment{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;
    flex-direction: row;
}

.change {
    background-color: red;
    width: 15px;
    height: 15px;
    margin: 4px;
}
/*Alternatively we can directly manipulate 
 the 'background' attribute under 'style' attribute 
 without and .red or .yellow classes*/
 
/*.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}*/