/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Center align the video */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value as needed */
    background-color: #f0f0f0; /* Background color for illustration */
}

#display{
    background-color: rgb(0,120,200);
    display: inline;                           /*You can change the "display type" to make it appear block or inline. */
    color:rgb(45, 45, 45) ;
}

.white{
    font-style:spacemono;
    color: #f0f0f0;
}

.video-container {
    background-color: rgb(45, 45, 45);
}

.new-layout{
    display: flex;                /*Flexbox can allow you to change the layout of an element(i dont see any difference in inline and flex)*/
    flex-direction: column;                    /*You can also change the layout pattern to row or column*/
}

.new-layout div {
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 20px;
    border: solid rgb(255, 179, 0);
    border-width:2px;
    border-left: 3px solid rgb(255, 179, 0);
    border-bottom: 3px solid rgb(255, 179, 0);
    
}