/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Center align the video */
.video-container {
    display: flex;

    justify-content: center;
    align-content: center;

    height: 100vh; /* Adjust this value as needed */
    background-color: #f0f0f0; /* Background color for illustration */
}

#display{
    background-color: rgb(0,120,200);
    display: inline;                           /*You can change the "display type" to make it appear block or inline. */
    color:rgb(45, 45, 45) ;
}

.white{
    font-style:spacemono;
    color: #f0f0f0;
}

.video-container {
    background-color: rgb(45, 45, 45);
}

.new-layout{
    display: flex;                /*Flexbox can allow you to change the layout of an element(i dont see any difference in inline and flex)*/
    flex-direction: column;                    /*You can also change the layout pattern to row or column*/
}   

.latest-layout{
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;          
    flex-direction: row;                    
}   
/*
    So far, all the properties in the challenges apply to the flex container (the parent of the flex items). However, there are several useful properties for the flex items.

    The first is the flex-shrink property. When it's used, it allows an item to shrink if the flex container is too small. Items shrink when the width of the parent container is smaller than the combined widths of all the flex items within it.

    The flex-shrink property takes numbers as values. 
    The higher the number, the more it will shrink compared to the other items in the container. 
    For example, if one item has a flex-shrink value of 1 and the other has a flex-shrink value of 3, 
    the one with the value of 3 will shrink three times as much as the other.
*/

.first{
    display: flex;
    flex-shrink: 0.5;                                /*flex-shrink when set to 1 is the very default value allowing it to shrink when the the browser is shrunk*/
    flex-direction: row;
}

.second{
    display: flex;
    flex-shrink: 1;                                 /*The element of this class will shrink twice the speed of the .first class*/
    flex-direction: row;
}

.later-layout{
    display: flex;
    flex-direction: row;
}

.late-layout{
    display: flex;
    flex-shrink: 0;                                 /*This element wont shrink at all!!*/
    flex-direction: row;
}

/*...Conversely there is another type of property called flex-grow (higher the number hegher the rate of growth)*/

.new-layout div {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-basis: 200px;                               /*flex-basis always acts in the direction of <flex=direction> whech decides where the new element is added*/
    margin: 20px;
    border: solid rgb(255, 179, 0);
    border-width:2px;
    border-left: 3px solid rgb(255, 179, 0);
    border-bottom: 3px solid rgb(255, 179, 0);
    
}

.latest-layout div {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-basis: 200px;                               /*flex-basis always acts in the direction of <flex=direction> whech decides where the new element is added*/
    margin: 20px;
    border: solid rgb(255, 179, 0);
    border-width:2px;
    border-left: 3px solid rgb(255, 179, 0);
    border-bottom: 3px solid rgb(255, 179, 0);
    
}


.wrap div{
    background-color: red;
    height: 100px;
    width: 100px;
    flex-basis: 200px;
    margin: 20px;
    border: solid rgb(255, 179, 0);
    border-width:2px;
    border-left: 3px solid rgb(255, 179, 0);
    border-bottom: 3px solid rgb(255, 179, 0);
    
}

.i{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;                                    /*flex-wrap wraps a layout when the window is shrunk and layout overflows,(the layout will be moved to the next row)*/
    flex-direction: row;
}

.ii{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;
    flex-direction: row;

}

.iii{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;
    flex-direction: row;
}

.iv{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;
    flex-direction: row;
}

.comment{
    display: flex;
    flex-shrink: 0;      
    flex-wrap: wrap;
    flex-direction: row;
}